__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pyo
*.pkl

venv/
.env
.venv/
*.env

poetry.lock

.pytest_cache/
.cache/
htmlcov/
.coverage
*.cover
*.coverage.*

testcontainers-ryuk.log

*.log
instance/
*.sqlite3
uploads/
exported_data.sql  # SQL exports for tests

docker-compose.override.yml
**/.dockerignore

.vscode/
.idea/
*.sublime*

build/
dist/
*.egg-info/
.eggs/

.DS_Store
*.swp
